<template name="criteria">
	<section class="criteria">
		<form>
			<div class="category">
				<h2>Category</h2><br/>
				<select class="form-control" multiple="multiple">
					<option>Accounting</option>
					<option>Art/Design</option>
					<option>Sales</option>
				</select>
			</div>
			<div class="time">
				<h2>Within</h2>
				<a href="#" class="circle">1 Minute</a> <a href="#" class="circle">5 Minutes</a>
			</div>
			<div class="button-bar">
				<br/>
				<button class="btn btn-lg btn-primary">Show Matching Score</button>
			</div>
		</form>
	</section>
</template>




