<template name="homepageLayout">
	{{> header}}

	<div class="container">
		<div id="main" class="row-fluid">
			<div class="main-content container">
				{{> criteria}} {{> matchingScoresList}}
				<section class="quick-search well">
					<div class="row">
						<div class="col-sm-12">
							<div class="row">
								<div class="col-sm-2 text-right">
									<strong>Quick Search</strong>
								</div>
								<div class="col-sm-4">
									<select class="form-control">
										<option>Select Category</option>
										<option>Accounting</option>
										<option>Arts/Design</option>
									</select>
								</div>
								<div class="col-sm-4">
									<select class="form-control">
										<option>Select Location</option>
										<option>Ho Chi Minh</option>
										<option>Ha Noi</option>
									</select>
								</div>
								<div class="col-sm-2">
									<input type="button" class="btn btn-default btn-block" value="Show Me" id="btn-show-me"/>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
						<div class="score text-center"><span class="circle">Min<br/> <strong>200</strong></span>  <span class="circle">Average<br/><strong>300</strong></span><span class="circle">Max<br/><strong>600</strong></span></div>
						</div>
						</div>
				</section>

				<section class="buy-service text-center">
					<div class="row">
						<div class="col-sm-8 col-sm-push-2">
							<h3>Real-Time Job Matching cung cấp các cơ hội việc làm phù hợp nhất mà bạn không cần phải tìm kiếm.</h3>
							<p>Đăng nhập tài khoản VietnamWorks của bạn và Move Up ngay hôm nay!</p>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6 col-sm-push-3">
							<div class="col-sm-6"><span><input type="button" class="btn btn-block btn-lg btn-primary" value="Buy Now" id="btn-buy-now"/></span></div>
							<div class="col-sm-6">
								<span><input type="button" class="btn btn-block btn-lg btn-default" value="Call Me Back" id="btn-call-me-back"/></span>
							</div>
						</div>
					</div>
				</section>
				<section class="share text-center">
					<br/>
						<em>Chia sẻ:</em>
						<!--{{>shareit shareData}}-->
				</section>
			</div>
		</div>
	</div>
	{{> footer}}
</template>