@import "../../../vnw/ui/css/jobseekers/variables.less";
@import "../../../vnw/ui/css/jobseekers/mixins";
/* CSS declarations go here */

body{ background:#eee; color:#666666; }
section{ margin:30px auto }
a.circle{ width:100px; height:100px; line-height:100px; margin:10px; border-radius:50%; background-color:#fff; display:inline-block; text-align:center; text-decoration:none; }
a:hover{ background-color:#e5e5e5; font-weight:bold }
.category, .time, .button-bar{ clear:both; margin:0 auto; text-align:center }
.criteria{ width:500px }
.table-bordered{ border:1px solid #e8e8e8; background:#fff }
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td{ border:1px solid #e8e8e8; }
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td{ border-bottom-width:2px; }
// General
//====================================
html{ height:100% }
body{ font-family:Roboto, Arial, sans-serif; background:@gray-light-extreme; margin:0; padding:0; min-height:100%; position:relative; padding-bottom:80px;
	&.home-page{ background:url(/assets/images/move-up-story-background.png); background-size:cover; }
	*{ font-weight:100; color:#7a8288 }
	.container h1{ font-size:36px; font-weight:700; color:#444; text-align:center; margin-top:70px; }
	.container h2{ font-size:24px; font-weight:700; color:#444 }
	p.lead{ font-weight:100; font-size:24px; color:#666; text-align:center; margin-top:0; margin-bottom:40px; }
	section{ background:#fff }
}
// Header
//====================================
// Logo
section.header{ margin-top:0; background:#fff;
	.matching-score-logo img{ margin-top:20px; display:block; }

	.top-navigation{ margin-top:17px; margin-right:25px;
		li{ padding:2px 15px }
		.btn-main{ border:1px solid #d2e0ea; border-radius:4px; margin-left:10px; }
	}

	.vnw-logo{ margin:10px 0 }
}
// Footer
section.footer{ margin-bottom:0;
	background:#f7f7f7; border-bottom:5px solid #0581c0; position:absolute; bottom:0; width:100%;
	.logo-vnw-gray, .logo-techlooper-gray{ padding:10px 20px; border-right:1px solid #c2cfd8; height:75px }
	.logo-techlooper-gray img{ margin-top:5px; }
	.copyright{
		margin-top:18px; margin-left:10px;
		.lead{ margin-bottom:0; font-weight:bold; font-size:18px; text-align:left; }
	}
}