/* CSS declarations go here */
section {margin: 30px auto}
a.circle {width: 100px; height: 100px; line-height: 100px; margin:10px; border-radius: 50%; background-color: #fff; display: inline-block; text-align: center; text-decoration: none; }
a:hover {background-color: #e5e5e5; font-weight: bold}
.category, .time, .button-bar {clear: both; margin: 0 auto; text-align: center}
.criteria {width: 500px}


