/*VietnamWorks Theme */
//@import "http://www.vietnamworks.com/css/jobseekers/theme.css";
/*Matching Score*/
html{ height:100% }
body{ font-family:Roboto, Arial, sans-serif; background:#eee; margin:0; color:#666666; padding:0; min-height:100%; position:relative; padding-bottom:100px;
	&.home-page{ background-size:cover; }
	//	*{ font-weight:100; color:#7a8288 }
	.container h1{ font-size:48px; font-weight:300; color:#555; text-align:center;
	}
	.container h2{ font-size:24px; font-weight:700; color:#444 }
	a{ color:#333; text-decoration:none }
	a:hover{ color:#f7941d; text-decoration:none }
	p.lead{ font-weight:100; font-size:24px; color:#666; text-align:center; margin-top:0; margin-bottom:40px; }
}
section.quick-search{ background:#e5e5e5;
	strong{ line-height:35px }
}
.circle{ border-radius:50%; display:inline-block; width:100px; height:100px; padding-top:25px; background:#fff; border:1px #ccc solid; margin:15px;
	strong{ font-size:18px; color:#00b9f2 }
}
.table-bordered{
	border:1px solid #e8e8e8;
	background:#ffffff;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td{
	border:1px solid #e8e8e8;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td{
	border-bottom-width:2px; background:#00b9f2; color:#fff
}
// General
//====================================
// Header
//====================================
// Logo
section{ margin:20px auto; clear:both; overflow:hidden; }
section.header{ margin-top:0; background:#fff; border-bottom:1px #e2e2e2 solid;
	.matching-score-logo img{ margin-top:20px; display:block; }

	.top-navigation{ margin-top:17px; margin-right:25px;
		li{ padding:2px 15px }
		.btn-main{ border:1px solid #d2e0ea; border-radius:4px; margin-left:10px; }
	}

	.vnw-logo{ margin:10px 0 }
}
// Footer
section.footer{ margin-bottom:0; bottom:0;
	background:#f7f7f7; border-top:1px #e2e2e2 solid; border-bottom:5px solid #00b9f2; position:absolute; bottom:0; width:100%;
	.logo-vnw-gray, .logo-techlooper-gray{ padding:10px 20px; border-right:1px solid #c2cfd8; height:75px }
	.logo-techlooper-gray img{ margin-top:5px; }
	.copyright{
		margin-top:18px; margin-left:10px;
		.lead{ margin-bottom:0; font-weight:bold; font-size:18px; text-align:left; }
	}
}
select.input-lg, select.form-group-lg .form-control{ line-height:normal }
/* Buttons */
.btn{ border:1px solid transparent; padding:6px 20px; font-size:13px; line-height:1.42857143; border-radius:2px; font-size:14.95px; }
.btn:focus{ outline:none; }
.btn-default{ color:#333333; background-color:#f4f4f4; border-color:#cccccc; border-radius:3px; }
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default{ color:#333333; background-color:#e0e0e0; border-color:#adadad; }
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default{ background-image:none; }
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active{ background-color:#f4f4f4; border-color:#cccccc; }
.btn-primary{ color:#ffffff; background-color:#f7941d; border-color:#f28809; }
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary{ color:#ffffff; background-color:#e38008; border-color:#b76706; }
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary{ background-image:none; }
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active{ background-color:#f7941d; border-color:#f28809; }
.btn-warning{ color:#ffffff; background-color:#f0ad4e; border-color:#eea236; }
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning{ color:#ffffff; background-color:#ed9c28; border-color:#d58512; }
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning{ background-image:none; }
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active{ background-color:#f0ad4e; border-color:#eea236; }
.btn-danger{ color:#ffffff; background-color:#ff5051; border-color:#ff3638; }
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger{ color:#ffffff; background-color:#ff2728; border-color:#f80001; }
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger{ background-image:none; }
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active{ background-color:#ff5051; border-color:#ff3638; }
.btn-success{ color:#ffffff; background-color:#5cb85c; border-color:#4cae4c; }
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success{ color:#ffffff; background-color:#47a447; border-color:#398439; }
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success{ background-image:none; }
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active{ background-color:#5cb85c; border-color:#4cae4c; }
.btn-info{ color:#ffffff; background-color:#00b9f2; border-color:#00a6d9; }
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info{ color:#ffffff; background-color:#009ac9; border-color:#00779b; }
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info{ background-image:none; }
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active{ background-color:#00b9f2; border-color:#00a6d9; }
.btn-outline{ border:1px solid #fff; border-radius:2px; background:transparent; }
.btn-outline:hover{ background:rgba(0, 0, 0, 0.1); }
.btn-outline-primary{ border:1px solid #f7941d; border-radius:2px; background:transparent; color:#f7941d; -webkit-transition:color 0.5s, border 0.5s; transition:color 0.5s, border 0.5s; }
.btn-outline-primary:hover{ color:#f28809; border-color:#f28809; }
.btn-outline-primary:focus{ color:#f28809; }
.btn-link{ color:#00b9f2; font-weight:normal; text-decoration:none; cursor:pointer; border-radius:0; }
.btn-link,
.btn-link:active,
.btn-link[disabled],
fieldset[disabled] .btn-link{ background-color:transparent; -webkit-box-shadow:none; box-shadow:none; }
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active{ border-color:transparent; }
.btn-link:hover,
.btn-link:focus{ text-decoration:none; border-color:#cccccc; background-color:transparent; }
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus{ color:#999999; text-decoration:none; }
.btn-xlg{ padding:7px 30px 10px; font-size:24px; line-height:24px; }
.btn-lg{ padding:10px 20px; font-size:16px; line-height:1.33; border-radius:5px; }
.btn-sm,
.btn-xs{ padding:3px 6px; font-size:12px; line-height:1.5 }
.btn-xs{ padding:1px 5px; border-radius:1px; }
.btn-block{ display:block; width:100%; padding-left:0; padding-right:0; }
.btn-block + .btn-block{ margin-top:5px; }
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block{ width:100%; }
.btn-sm{ padding:5px 15px; font-size:12px; line-height:1.5; border-radius:2px; }
.btn-general{ color:#666666; background-color:#ffffff; border-color:#cccccc; }
.btn-general:hover,
.btn-general:focus,
.btn-general:active,
.btn-general.active,
.open .dropdown-toggle.btn-general{ color:#666666; background-color:#ebebeb; border-color:#adadad; }
.btn-general:active,
.btn-general.active,
.open .dropdown-toggle.btn-general{ background-image:none; }
.btn-general.disabled,
.btn-general[disabled],
fieldset[disabled] .btn-general,
.btn-general.disabled:hover,
.btn-general[disabled]:hover,
fieldset[disabled] .btn-general:hover,
.btn-general.disabled:focus,
.btn-general[disabled]:focus,
fieldset[disabled] .btn-general:focus,
.btn-general.disabled:active,
.btn-general[disabled]:active,
fieldset[disabled] .btn-general:active,
.btn-general.disabled.active,
.btn-general[disabled].active,
fieldset[disabled] .btn-general.active{ background-color:#ffffff; border-color:#cccccc; }
.btn-general .caret{ border-top-color:#666666; }
.btn-group .btn-primary + .btn-general,
.btn-group .btn-success + .btn-general,
.btn-group .btn-info + .btn-general,
.btn-group .btn-danger + .btn-general{ border-left:0; }
.loader-wrapper{ position:relative; height:50px }
.share-buttons{ display:inline-block; vertical-align:middle;
	a{ border-radius:50px; width:32px; height:32px; display:inline-block; padding:0; border:0;
		i{ margin-top:8px; font-size:18px; margin-left:-2px; }
	}
}