<template name="quickSearch">
    <form>
        <section class="quick-search well">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-2 text-right">
                            <strong>Tìm nhanh</strong>
                        </div>
                        {{> jobCategoriesList}}
                        {{> jobLocationsList}}
                        <div class="col-sm-2">
                            <input type="button" class="btn btn-default btn-block" value="Tìm ngay" id="btn-show-me"/>
                        </div>
                    </div>
                </div>
            </div>
            {{>errors errorType='quickSearch'}}
            {{#if Template.subscriptionsReady}}
                {{>resultMatchingScore resultMatchingScores}}
            {{else}}
                <br/>
                <div class="loader-wrapper">{{>spinner}}</div>
            {{/if}}
        </section>
    </form>
</template>