{
	"public": {
		"matchingScoreDataTimeRange": "30 ngày"
	},
	"private": {
		"apiConsumerKey": "",
		"apiUrl": "",
		"crmLeadApiUrl": "",
		"crmCampaignKey4MS": "",
		"crmSourceKey4CallMeBack": 0,
		"crmLeadQualityCode": "Cold",
		"crmLeadSubject": "Lead from matchingscore.com",
		"crmAPIDisabled": true,
		"cronJobSchedule": "every 2 minutes",
		"matchingScoreDataOutDate": 3,
		"matchingScoreDataTimeRange": 43200,
		"debug": false,
		"debugLevel": 1
	}
}