{
	"public": {
		"cronJobPeriod": "24 giờ"
	},
	"private": {
		"apiConsumerKey": "",
		"apiUrl": "",
		"crmLeadApiUrl": "",
		"crmCampaignKey4MS": "",
		"crmSourceKey4CallMeBack": 0,
		"crmLeadQualityCode": "Cold",
		"crmLeadSubject": "Lead from matchingscore.com",
		"crmAPIDisabled": true,
		"cronJobPeriod": "every 2 minutes",
		"matchingScorePullPeriod": 43200,
		"debug": false,
		"debugLevel": 1
	}
}