<template name="buyService">
<section class="buy-service text-center">
	<div class="row">
		<div class="col-sm-8 col-sm-push-2">
			<h2>MatchingScore tìm kiếm các hồ sơ phù hợp nhất.</h2>
			<p>Liên hệ với chúng tôi để dùng thử dịch vụ mới này!</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-sm-push-3">
			<div class="col-sm-6"><span>
				<input type="button" class="btn btn-block btn-lg btn-primary" value="Mua ngay" id="btnBuyNow"/>
			</span></div>
			<div class="col-sm-6">
				<span>
					<input type="button" class="btn btn-block btn-lg btn-default" value="Gọi lại cho tôi" id="btnCallMeBack"/>
				</span>
			</div>
		</div>
	</div>
    {{>callMeBackModal}}
</section>
</template>
