<template name="criteria">
	<section class="criteria">
		<h1 class="text-center">Tìm Kiếm Hồ Sơ Phù Hợp Nhất</h1>
		<form class="selectLocation">
			<section>
				<div class="col-sm-6 col-sm-push-3">
					<select id="selectedLocation" class="form-control input-lg">
						<option>Chọn Chuyên Mục</option>
                        <option value=-1>Tất cả</option>
						<option value=29>Ho Chi Minh</option>
						<option value=24>Ha Noi</option>
					</select>
				</div>
			</section>
		</form>
	</section>
</template>




