<template name="criteria">
	<section class="criteria">
		<h1 class="text-center">See Matching Score !</h1>
		<div class="time text-center">
			<span>Within <strong>30 Seconds</strong></span>
		</div>
		<form class="selectLocation">
			<section>
				<div class="col-sm-6 col-sm-push-3">
					<select id="selectedLocation" class="form-control input-lg">
						<option>Select Location</option>
                        <option value=-1>All</option>
						<option value=29>Ho Chi Minh</option>
						<option value=24>Ha Noi</option>
					</select>
				</div>
			</section>
		</form>
	</section>
</template>




