<template name="matchingScoresList">
	<section class="criteria">
		<h1 class="text-center">Xem Thống Kê MatchingScore</h1>
		<form class="selectLocation">
			<section>
				<div class="col-sm-6 col-sm-push-3">
					<select id="selectedLocation" class="form-control input-lg">
						<option value=-1>Tất cả địa điểm</option>
						<option value=29>TP. Hồ Chí Minh</option>
						<option value=24>Hà Nội</option>
					</select>
				</div>
			</section>
		</form>
	</section>
	{{#if chooseGraph}}
		<div>
			<div class="pull-left">
				<a class="choose-graph btn btn-primary active">Graph</a>
				<a class="choose-grid btn btn-default">Grid</a>
			</div>
			<div class="pull-right">
				<em>Sắp xếp theo :</em>
				{{#if sortByAvg}}
					<a class="sortAvg btn btn-info active">Trung bình MatchingScore</a>
					<a class="sortCount btn btn-info">Số lượt ứng tuyển</a>
				{{else}}
					<a class="sortAvg btn btn-info">Trung bình MatchingScore</a>
					<a class="sortCount btn btn-info active">Số lượt ứng tuyển</a>
				{{/if}}
			</div>
		</div>
		<section class="matching-score-graph">
        	{{#if Template.subscriptionsReady}}
        		{{> topFiveChart top5MatchingScore=topFiveMatchingScore sortByAvg=sortByAvg}}
        	{{else}}
        		<div class="loader-wrapper">{{>spinner}}</div>
        	{{/if}}
		</section>
	{{else}}
		<div>
			<div class="pull-left">
				<a class="choose-graph btn btn-primary">Graph</a>
				<a class="choose-grid btn btn-default active">Grid</a>
			</div>
			<div class="pull-right">
				<em>Sắp xếp theo :</em>
				{{#if sortByAvg}}
					<a class="sortAvg btn btn-info active">Trung bình MatchingScore</a>
					<a class="sortCount btn btn-info">Số lượt ứng tuyển</a>
				{{else}}
					<a class="sortAvg btn btn-info">Trung bình MatchingScore</a>
					<a class="sortCount btn btn-info active">Số lượt ứng tuyển</a>
				{{/if}}
			</div>
		</div>
		<section class="matching-score-list">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Ngành nghề</th>
						<th>Thấp nhất</th>
						<th>Cao nhất</th>
						<th>Trung bình</th>
						<th>Lượt ứng tuyển</th>
					</tr>
				</thead>
				<tbody class="matching-scores">
                	{{#each matchingScores}}
                    	{{> matchingScore}}
                	{{/each}}
                	{{#if Template.subscriptionsReady}}
                		{{#if hasMore}}
                			<tr>
                				<td colspan="5">
                					<a class="load-more">Xem thêm...</a>
                				</td>
                			</tr>
						{{/if}}
					{{else}}
						<tr>
							<td colspan="5">
								<div class="loader-wrapper">{{>spinner}}</div>
							</td>
						</tr>
					{{/if}}
				</tbody>
			</table>
		</section>
	{{/if}}
	{{#if Template.subscriptionsReady}}
    	{{> lastUpdated}}
    {{/if}}
</template>