<template name="matchingScoresList">
	<section class="criteria">
		<h1 class="text-center">Xem Thống Kê MatchingScore</h1>
		<form class="selectLocation">
			<section>
				<div class="col-sm-6 col-sm-push-3">
					<select id="selectedLocation" class="form-control input-lg">
						<option value=-1>Tất cả địa điểm</option>
						<option value=29>TP. Hồ Chí Minh</option>
						<option value=24>Hà Nội</option>
					</select>
				</div>
			</section>
		</form>
	</section>
	<a class="choose-graph">Graph</a>
	<a class="choose-grid">Grid</a>
	{{#if chooseGraph}}
		<section class="matching-score-graph">
        	{{#if Template.subscriptionsReady}}
        		{{>topFiveChart top5MatchingScore=topFiveMatchingScore}}
        	{{else}}
        		<div class="loader-wrapper">{{>spinner}}</div>
        	{{/if}}
		</section>
	{{else}}
		<section class="matching-score-list">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Ngành nghề</th>
						<th>Thấp nhất</th>
						<th>Trung bình</th>
						<th>Cao nhất</th>
						<th>Tổng cộng</th>
					</tr>
				</thead>
				<tbody class="matching-scores">
                	{{#each matchingScores}}
                    	{{> matchingScore}}
                	{{/each}}
                	{{#if Template.subscriptionsReady}}
                		{{#if hasMore}}
							<a class="load-more">Xem thêm...</a>
						{{/if}}
					{{else}}
						<tr>
							<td colspan="5">
								<div class="loader-wrapper">{{>spinner}}</div>
							</td>
						</tr>
					{{/if}}
				</tbody>
			</table>
		</section>
	{{/if}}
	{{#if Template.subscriptionsReady}}
    	{{> lastUpdated}}
    {{/if}}
</template>